*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open,sans-serif;

}
.container1{
    display: flex;
    width: 1400px;
    margin: 0 auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFDF9;
}
h1,h2,h3{
    cursor: pointer;
}
li{
    list-style: none;
}
li:hover{
    color: red;
 }
a{
    text-decoration: none;
    color: #333;
}
a:hover{
   color: red;
}
strong{
    cursor: pointer;
}
strong:hover{
    color: red;
}
.title{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #FFFDF9;
}
.logo-head img{
    height: 70px;
    width: 220px;
}
.logo-lichthi img{
    height: 70px;
    width: 320px;
}
.language{
    display: flex;
    align-items: center;
    font-size: 17px;
}
.langu img{
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
}
#language{
    margin-left: 10px;
    padding-right: 30px;
    font-size: 18px;
    border: none;
    outline: none;
}
.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
}
.search-box {
    background-color: #ffff;
    border: 2px solid #F3F2F0;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    position: relative;
    outline: none;
    padding-left: 45px;
}
.search-icon {
    position: absolute;
    font-size: 1.5em;
    color: #333;
    padding: 10px;
    padding-right: 10px;
    display: flex;
    height: 40px;
    border-top: 2px solid #F3F2F0;
    border-bottom: 2px solid #F3F2F0;
    border-left: 2px solid #F3F2F0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #ffff;
}
.login li{
    list-style: none;
    font-size: 19px;
}
.login li a{
    text-decoration: none;
    font-size: 19px;
    color: black;
}
.menu-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 10px;
}
.menu-main li{
    list-style: none;
}
.menu-main li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bolder;
}
.menu-main li a:hover{
    color: red;
}
/* content */
.content1{
    margin-top: 170px;
    position: relative;
    padding-bottom: 10px;
}
.content1::after{
    content: "";
    width: 72%;
    height: 5px;
    top: 100%;
    background-color: #C4C2BF;
    position: absolute;
}
.content1-left{
    width: 20%;
}
.content1-left-main{
    width: 100%;
}
.neu-bat1-title{
    background-color: red;
    color: #fff;
    padding: 7px;
}
.content1-left-main img{
    width: 100%;
}
.content1-left-main li{
    list-style: none;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #C4C2BF;
}
.content1-left-main li:last-child{
    border: none;
}
.content1-left-main li a{
    text-decoration: none;
    font-size: 17px;
    color: #333;
}
.content1-center{
    width: 56%;
    margin-left: 30px;
    margin-right: 30px;
}
.content1-center img{
    width: 100%;
}
.content1-center h2 strong{
    line-height: 30px;
    font-size: 25px;
}
.content1-center p{
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
}
.content1-center a{
    text-decoration: none;
    color: #ACA992;
}
.content1-right{
    width: 20%
}
.content1-right-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content1-right-main img{
    width: 100%;
    margin-top: 3px;
}
.content1-right-main li{
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ACA992;
}
.content1-right-main li:last-child{
    border: none;
}
.content1-right-main li a{
    display: flex;
}
.content1-right-main li a img{
    width: 40%;
    margin-right: 5px;
}
.neu-bat2-title{
    position: relative;
    width: 92%;
    height: 40px;
    background-color: red;
    color: #FFFDF9;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 77% 23% 100% 0% / 0% 100% 0% 100% ;
}
.neu-bat2-title::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 2rem;
    top: 0;
    right: 3px;
    transform: skew(50deg);
    z-index: 1;
    background-color: red;
}
.neu-bat3-title{
    position: relative;
    width: 93%;
    height: 40px;
    background-color: red;
    color: #FFFDF9;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 77% 23% 100% 0% / 0% 100% 0% 100% ;
}
.neu-bat3-title::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 2rem;
    top: 0;
    right: 3px;
    transform: skew(56deg);
    z-index: 1;
    background-color: red;
}
.neu-bat4{
    margin: 180px auto;
    width: 1400px;
}
.neu-bat4-title::before{
    content: "";
    width: 500%;
    top: 100%;
    left: 0;
    height: 2px;
    background-color: red;
    position: absolute;
}
.neu-bat4-title{
    position: relative;
    height: 40px;
    width: 20%;
    background-color: red;
    color: #FFFDF9;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 77% 23% 100% 0% / 0% 100% 0% 100% ;
}
.neu-bat4-title::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 2rem;
    top: 0;
    right: 3px;
    transform: skew(50deg);
    z-index: 1;
    background-color: red;
}
/* css scrooll */
body::-webkit-scrollbar {
    width: 10px;
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #C4C2BF;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}
/* news1 */
.news1{
    width: 1400px;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    position: relative;
    padding-bottom: 10px;
}
.news1::after{
    content: "";
    width: 72%;
    height: 5px;
    top: 100%;
    background-color: #C4C2BF;
    position: absolute;
}
.news1-left{
    width: 40%;
}
.news1-left-top{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
.news1-left-img img{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.news1-left-content a strong{
    font-size: 20px;
}
.news1-left-content a strong:hover{
    color: red;
}
.news1-left-content p{
    color: #ACA992;
}
.news1-left-bottom ul{
    width: 95%;
    background-color: #EEEDED;
    padding: 10px;
}
.news1-left-bottom ul li{
    margin-bottom: 20px;
}
.news1-center{
    width: 30%;
}
.news1-center ul{
    width: 100%;
}
.news1-center ul li a{
    width: 100%;
    display: flex;
}
.news1-center ul li{
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #C4C2BF;
}
.news1-center ul li a:hover{
    color: red;
}
.news1-center ul li:last-child{
    border: none;
}
.news1-center ul li a img{
    width: 50%;
    margin-right: 3px;
}
.news1-right{
    width: 25%;
}
.news1-right-top{
    width: 100%;
    border-bottom: 1px solid #C4C2BF;
    padding-bottom: 10px;
}
.news1-right-main-img img{
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}
.news1-right-bottom{
    width: 100%;
}
.news-right-bottom-items1{
    display: flex;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid #C4C2BF;
    padding-top: 10px;
    padding-bottom: 10px;
}
.news-right-bottom-items1:last-child{
    border: none;
}
.news-right-bottom-item{
    width: 48%;
}
.news-right-bottom-item-content a:hover{
    color: red;
}
.news-right-bottom-item-img img{
    width: 100%;
    height: 116px;
    object-fit: cover;
    cursor: pointer;
}
/* footer */
footer{
    width: 100%;
    height: 100%;
    background-color: #494242;
    padding: 50px;
    text-align: center;
}
footer>img{
    margin-bottom: 20px;
    width: 180px;
    height: 80px;
    object-fit: cover;
}
.footer{
    display: flex;
    justify-content: center;
}
.ft-left{
    width: 40%;
    border-top: 1px solid #fff;
}
.ft-left p{
    color: #fff;
    padding: 20px;
}
.ft-right{
    width: 40%;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 20px;
}
.ft-right strong{
    color: #ffff;
}
.ft-right p{
    color: #fff;
}
/* reponsive */
/* Tablet */
@media (min-width: 740px) and (max-width: 1411px){ 
    footer{
        width: 1400px;
        height: 100%;
    }
}
/* Moblie */
@media (max-width: 740px){
    footer{
        width: 1400px;
        height: 100%;
    }
} 
/* tin trang chủ */
.tintuc{
    width: 1400px;
    margin: auto;
    margin-top: -150px;
    margin-bottom: 50px;
    display: flex;
    gap: 50px;
}
.tintuc-title-big p{
   background-color: #EEEDED;
   padding: 10px;
   margin: 5px 0px 5px 0px;
}
.tintuc-title-big h1:hover{
    color: red;
    cursor: pointer;
}
.tintuc-title-big2 h3{
    margin: 15px 0px 10px 0px;
}
.tintuc-title-little h2{
    margin: 5px 0px 5px 0px;
}
.tintucleft{
    width: 70%;
}
.content-little img{
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.content-little p{
    font-size: 22px;
    line-height: 30px;
}
.tintucright{
    width: 26%;
}
.tintucright img{
    width: 100%;
    margin-top: 5px;
}
.tintucright ul li{
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    border-top:1px solid #C4C2BF;
    display: block;
}
.tintucright ul li:last-child{
    border: none;
}
.tintucright h3{
    padding-bottom: 10px;
}
.comment strong{
    font-size: 23px;
    padding: 50px 0px 10px 0px;
    display: block;
}

.titlecmt input{
    width: 800px;
    height: 80px;
    font-size: 25px;
    padding-left: 30px;
    outline: none;
}
.titlecmt .bi{
    font-size: 24px;
    position: absolute;
    left: 54%;
    margin-top: 50px;
    cursor: pointer;
}
.news-lq{
    width: 100%;
    margin: 30px 0px 0px;
}
.lq-items{
    display: flex;
    width: 70%;
    margin: 20px 0px 10px 0px;
}
.lq-item-content{
    margin-left: 20px;
}
.lq-item-content strong{
    font-size: 23px;
    cursor: pointer;
}
.lq-item-content p{
    font-size: 21px;
    cursor: pointer;
    color: #ACA992;
}
.lq-item-img img{
    width: 380px;
    height: 214px;
    object-fit: contain;
}
/* bảng xếp hạng */
.bxh-sum h3{
    background-color:#C4C2BF ;
    padding-left: 10px;
    padding-top: 10px;
}
.bxh-sum-thongke{
    border-left: 10px solid #C4C2BF;
    border-right: 10px solid #C4C2BF;
    border-bottom: 10px solid #C4C2BF;
}
.v-lea{
    display: flex;
    gap: 30px;
    background-color: #edebeb;
    padding: 10px;
}
.v-lea1,.v-lea3,.v-lea4,.v-lea5{
    width: 15%;
    text-align: center;
}
.v-lea2{
    width: 30%;
}
.v-lea-infor{
    display: flex;
    gap: 20px;
}
.v-lea-infor li{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* ngoại hạng anh html */
.tintuc-title-big1{
    display: flex;
    background-color: #C4C2BF;
}
.img-big1 img{
    width: 700px;
    height: 100%;
}
.content-big1{
    padding: 20px;
}
.content-big1 h2 strong:hover{
    color: red;
}
.content-big1 p{
    color: #9f9c85;
    font-size: 19px;
    line-height: 24px;
}
/* Đăng Nhập */
.login-main{
    margin-top: 133px;
    background-image: url(images/login-img.jpg);
    width: 100%;
    height: 600px;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.login1{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color: rgba(232, 232, 232, 0.7);
}
.login1 h2{
    color: blue;
}
.login1 input{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    font-size: 18px;
    padding-left: 30px;
    border-radius: 50px;
    outline: none;
}
.tendn, .mkdn {
    position: relative;
}

.tendn i, .mkdn i {
    position: absolute;
    bottom: 10%;
    left: 17%;
}
.login1-btn{
    width: 30%;
    padding: 20px;
    border-radius: 50px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap;
    background-color: #98E0FF;
}
.dktkm{
    margin-top: 20px;
}